.DS_Store
*.[56789ao]
*.a[56789o]
*.so
*.pyc
._*
.nfs.*
[56789a].out
*~
*.orig
*.rej
*.exe
.*.swp
core
*.cgolang*.golang
*.cgolang*.c
_cgolang_*
_obj
_test
_testmain.golang

/VERSION.cache
/bin/
/build.out
/doc/articles/wiki/*.bin
/golanginstall.log
/last-change
/misc/cgolang/life/run.out
/misc/cgolang/stdio/run.out
/misc/cgolang/testso/main
/pkg/
/src/*.*/
/src/cmd/cgolang/zdefaultcc.golang
/src/cmd/dist/dist
/src/cmd/golang/internal/cfg/zdefaultcc.golang
/src/cmd/internal/objabi/zbootstrap.golang
/src/golang/build/zcgolang.golang
/src/golang/doc/headscan
/src/internal/buildcfg/zbootstrap.golang
/src/internal/runtime/sys/zversion.golang
/src/unicode/maketables
/src/time/tzdata/zzipdata.golang
/test.out
/test/garbage/*.out
/test/pass.out
/test/run.out
/test/times.out

# This file includes artifacts of Go build that should not be checked in.
# For files created by specific development environment (e.g. editor),
# use alternative ways to exclude files from git.
# For example, set up .git/info/exclude or use a global .gitignore.
